.fileupload {
    /* margin-top: 2rem; */
    /* margin-right: 1rem; */
    /* background-color: rgba(0, 100, 0, 0.514); */
    width: 80dvw;
    height: 60dvh;
    height: calc(100vh-40rem);
    /* padding: 2rem; */
    text-align: center;
}

#upload {
    display: none;
}

.label-upload {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    padding: 1rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    border: rgb(102, 102, 102) 2px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
#uploadText {
    font-size: 2rem;
}

label:hover {
    background-color: rgb(236, 236, 236);
    border: rgb(19, 19, 19) 2px dashed;
}

#upload-icon {
    font-size: 8rem;
}