.footer {
    /* width: 100dvw; */
    height: 60dvh;
    padding: 2rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-info {
    color: #cecece;
}

.footer-links {
    width: 40%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    /* background-color: wheat; */
}

.footerlink {
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-size: 1.2rem;
}

.footerlink:hover {
    color: whitesmoke;
}